/* nav {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 2em;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    color: #fff;
    font-size: 70%;
    font-weight: bold;
    text-transform: uppercase;
    transition: 1s;
}

li:hover {
    background-color: #f35353;
    padding: 4px 4px 4px 4px;
    box-shadow: 0 0 20px 5px #f74525b3;
    transition: 1s;
} */