.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.messageContact {
    margin-left: 5%;
}

.contactContainer { 
    display: flex;
    flex-direction: column;
    margin-right: 6%;
    color: #fff;
}

.contactContainer h1 {
    padding-bottom: 1%;
    font-size: 1.7em;
}

.contactContainer span {
    margin-top: 2%;
    margin-bottom: 2%;
}

.contactContainer input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 25vw;
    color: #fff;
    padding-left: 10px;
}
.contactBackground {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    background-color: #27272c;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    transition: 1s;
}

.contactBackground:hover {
    box-shadow: 0 0 20px 5px #414149;
    transition: 1s;
}

.name {
    height: 2vw;
    border: none;
}

.topic {
    height: 2vw;
    border: none;
}

.message {
    height: 10vw;
    border: none;
}

.contact { 
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 5%;
}

.contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    background-color: #27272c;
    height: 3vw;
    width: 9vw;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-black);
    transition: .5s;
}

.contact img {
    height: 3vw;
    width: 3vw;
    margin-right: 1vw;
}

.svg {
    filter: invert();
}

.contact div {
    display: flex;
}

.title {
    color: #fff;
}

.span {
    color: #cccccc;
    font-family: monospace;
}

.instagram:hover {
    color: #fff;
    background-color: #d92b71;
    box-shadow: 0 0 20px 5px #f14087;
}

.email:hover {
    color: #fff;
    background-color: #ce3c30;
    box-shadow: 0 0 20px 5px rgb(223, 83, 70);
}

.github:hover {
    color: #fff;
    background-color: #616161;
    box-shadow: 0 0 20px 5px #868686;
}

.linkedin:hover {
    color: #fff;
    background-color: #5ab0f7;
    box-shadow: 0 0 20px 5px #82c0f3;
}