@import "tailwindcss";

@theme {
  --color-primary: #030412;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #19191d;
  color: #fff;
  font-family: "roboto", cursive;
  overflow-x: hidden;
  overflow-y: hidden; 
}

.btn {
    background-color:  transparent;
    border-radius: 0;
    color: #c7c6c6;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 20px 10px;
    margin-top: 4%;
    transition: 1s;
}

.btn:hover{
    background-color:  #f35353;
    color: #ffffff;
    border: none;
    box-shadow: 0 0 20px 5px rgba(247, 69, 37, 0.7);
    transition: 1s;
}